@mixin add-font($name, $style, $weight, $src)
	font-family: $name
	font-style: $style
	font-weight: $weight
	src: url($src + ".eot?") format("eot"), url($src + ".otf") format("otf"), url($src + ".woff") format("woff"), url($src + ".ttf") format("truetype"), url($src + ".svg#" + $name) format("svg")

@font-face
	@include add-font('Nexa-Bold', normal, bold, '../fonts/Nexa-Bold/Nexa-Bold')

@font-face
	@include add-font('NexaSlab-xBold', normal, normal, '../fonts/NexaSlab-xBold/NexaSlab-xBold')

@font-face
	@include add-font('ProximaNova-Light', normal, 300, '../fonts/ProximaNova-Light/ProximaNova-Light')

@font-face
	@include add-font('ProximaNova-Semibold', normal, bold, '../fonts/ProximaNova-Semibold/ProximaNova-Semibold')

@font-face
	@include add-font('MyriadProBold', normal, bold, '../fonts/MyriadProBold/MyriadProBold')

@font-face
	@include add-font('MyriadProBoldItalic', italic, bold, '../fonts/MyriadProBoldItalic/MyriadProBoldItalic')

@font-face
	@include add-font('MyriadProItalic', italic, normal, '../fonts/MyriadProItalic/MyriadProItalic')

@font-face
	@include add-font('MyriadProRegular', normal, normal, '../fonts/MyriadProRegular/MyriadProRegular')

@font-face
	@include add-font('MyriadProSemiBold', normal, 400, '../fonts/MyriadProSemiBold/MyriadProSemiBold')

@font-face
	@include add-font('MyriadProSemiBoldItalic', italic, 400, '../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic')