@import "reset"
@import "helpers/fonts"
@import "helpers/sprite"
@import "helpers/mixins"

@import "../components/**/*"

ul, li
	list-style: none
	padding: 0
	margin: 0

html, body
	min-height: 100%
	background-color: whitesmoke
body
	padding-top: 40px
	text-align: center

dr-menu,
dr-field,
dr-dashboard
	display: inline-block
	vertical-align: top
	text-align: left

dr-field + dr-dashboard
	margin-left: 40px